<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="<%- keywords %>" />
    <meta name="description" content="<%- description %>" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <!-- CSS -->
    <%- include('stylesheets', {minified}) %>

    <!-- Scripts -->
    <%- include('head-scripts', {minified}) %>

    <title><%- title %></title>

    <!-- Analytics -->
    <%- include('analytics', {}) %>
</head>
