<div class="page-container">
    <!-- presentation -->
    <%- include('home-banner', {}) %>

    <!-- services -->
    <%- include('services/service-list', {services}) %>

    <!-- what-i-do -->
    <%- include('home-activities', {}) %>

    <!-- portfolio -->
    <%- include('portfolio/portfolio', {}) %>

    <!-- cta -->
    <%- include('home-contact', {}) %>
</div>
