<!DOCTYPE html>
<html lang="fr-fr">
    <!-- Head -->
    <%- include('head/head', {keywords, description, title, minified}) %>
    <body>
        <header><%- include('header/header', {}) %></header>
        <main><%- include(contentTemplate, contentData) %></main>
        <%- include('utils/scrollToTop', {}) %>
        <footer><%- include('footer/footer', {}) %></footer>
        <% bodyScript?.forEach(script => { %>
        <!-- begin for -->
        <% if(script.src) { %>
        <!-- begin if -->
        <script <%- script.src ? `src=${script.src}` : "" %> <%- script.async ?
        "async" : "" %> />
        <!-- end if -->
        <% } else { %>
        <!-- begin else -->
        <%- `
        <script>
            ${script.code}
        </script>
        ` %>
        <!-- end else -->
        <% } %>
        <!-- end for -->
        <%}) %>
    </body>
</html>
