<!DOCTYPE html>
<html lang="fr-FR">
    <!-- Head -->
    <%- include('head/head', {keywords, description, title, minified}) %>
    <body itemscope itemtype="https://schema.org/LocalBusiness">
        <meta itemprop="name" content="La chouette agence" />
        <meta itemprop="serviceType" content="Web Design" />
        <meta itemprop="priceRange" content="$$$" />
        <meta itemprop="telephone" content="+33123456789" />
        <header role="banner"><%- include('header/header', {}) %></header>
        <main role="main"><%- include(contentTemplate, contentData) %></main>
        <%- include('utils/scrollToTop', {}) %>
        <footer role="contentinfo"><%- include('footer/footer', {}) %></footer>
        <% bodyScript?.forEach(script => { %>
        <!-- begin for -->
        <% if(script.src) { %>
        <!-- begin if -->
        <script <%- script.src ? `src=${script.src}` : "" %> <%- script.async ? "async" : "" %> />
        <!-- end if -->
        <% } else { %>
        <!-- begin else -->
        <%- `
        <script>
            ${script.code}
        </script>
        ` %>
        <!-- end else -->
        <% } %>
        <!-- end for -->
        <%}) %>
    </body>
</html>
